body {
    font-family: sans-serif;
    font-size: 1.5rem;
}

img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-flow: row wrap;
    max-width: 40vw;
    margin: auto;
    align-items: baseline;
}

button[type="submit"] {
    padding: 5px 20px;
    margin: 10px auto;
    float: right;
}

.reloader{
    
    padding: 5em 0;
}

.reloader .restart{
    
    color: var(--secondaryColor);
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9em;
    padding: 18px 16px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    background-color: #e70ca5;
    border-radius: 6px;
    transition: 250ms all ease-in-out;
}

#greeting {
    margin: 10px auto;
    padding: 10px 60px;
    border: 1px solid #222;
}

#greeting:empty {
    display: none;
}
